{% extends "smart_home_device_basis.html" %}
{% block title %}Kleiner Rolladen im Wohnzimmer{% endblock %}
{% block content %}
    <div class="col-12">
        <h4 id="rolladen_loading"></h4>

        <div class="row mt-5">
            <div class="col-lg-3 col-md-3 col-sm-4 col-12 text-center my-2">
                <button class="w-75 mx-1 btn btn-primary" onclick="rolladen_stop();"><h4>Stopp</h4></button>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-4 col-12 text-center my-2">
                <button class="w-75 mx-1 btn btn-primary" onclick="rolladen_runter();"><h4>Runter</h4>
                </button>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-4 col-12 text-center my-2">
                <button class="w-75 mx-1 btn btn-primary" onclick="rolladen_hoch();"><h4>Hoch</h4>
                </button>
            </div>
        </div>
    </div>
{% endblock %}